@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Poppins:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;400&display=swap");
:root {
    /* Primary colors */
    --primary-color: #1E90FF; 
    --secondary-color: #2E8B57; 
    --accent-color: #FDE74C; 
    --accent2-color: #788695; 

    /* Fonts */
    --heading-font: "Arima";
    --paragraph-font: "Montserrat";

    /* Navigation */
    --navigation-bg-color: #1568A6; 
    --navigation-link-color: #3f71cc;
    --navigation-hover-link-color: #4DA6FF; 
    --navigation-hover-bg-color: #2E8B57; 
}


body {
    font-family: var(--heading-font);
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto; 
    padding: 20px;
}

/* Grouping selector for all headings */
h1, h2, h3, h4, h5, h6 {
    font-size: 2rem;
    font-family: var(--heading-font);
    color: var(--primary-color); 
}

a {
    text-decoration: none;
}

body h1{
    justify-content: center;
}

header{
    display: grid;
    align-items: center;
    margin: 1rem;
    grid-template-columns: 110px 1fr 1fr;
}

.logo img{
    margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

p {
    padding: 30px;

}

nav {
    display: inline;
    float: right ;
    color: var(--navigation-link-color);
    text-decoration: none; 
    padding: 1rem;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}

.hero {
    position: relative;
}
.happy-client {
    width: 80%;
    top: 8rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(30, 144, 255, .7);
    color: white;
}

.hero h1{
    position: absolute;
    background-color:#FDE74C 
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
 
 
}
.happy-client img {
    float: right;
    width: 200px;
}


.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 800px;
    
}

.gallery figcaption{
    font-size: 0.7rem;
    font-family: var (--paragraph-font);
    color: var(--primary-color);
}

.adventure h2{
    display: flex;
    justify-content: center;
}

section h2{
    display: flex;
    justify-content: center;
}

.gallery2 {
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-around;
    gap: 10px;
}

.first>img{
    width: 50%;
}

.second>img{
    width: 50%;
}
table {
    border-collapse: collapse;
    border: 2px solid var(--navigation-hover-link-color);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
  
caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
  
thead{
    background-color: var(--navigation-bg-color);
}
  
th,
td {
    border: 1px solid var(--accent2-color);
    padding: 8px 10px;
}
  
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color:aliceblue;
}
  